hostname {{ HOSTNAME }}

{%- for item in VLAN_LIST %}

vlan {{ VLAN_LIST[item]['VLAN_ID']}}
 name {{ VLAN_LIST[item]['VLAN_NAME']}}

{%- endfor %}

interface Vlan1
 ip address {{ VLAN_1_SVI_IP }}
 no shutdown